html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 50px 0 100px;
}

a {
  text-decoration: none;
}

.slide {
  text-align: center;
}

.slide__title {
  margin-bottom: 50px;
  font-family: 'Podkova', serif;
  font-size: 96px;
  line-height: 116px;
}

.slide__body {
  font-size: 48px;
  line-height: 64px;
}

.slide__form {
  position: absolute;
  top: 75%;
  left: 40%;
}

.slide__nav {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  font-size: 32px;
  line-height: 40px;
  color: #888;
}

.slide__prev {
  margin-right: 20px;
}

.slide__next {
  margin-left: 20px;
}
